/* Styling for following page */

.userNameFollowing {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.titleFollowing {
    font-size: 15px;
    text-align: center;
    margin-top: -4px;
    margin-bottom: 20px;
}

.backLinkFollowing {
    font-size: 26px;
    margin-top: -10px;
    position: absolute;
}

.userSearchBarFollowing {
    margin-bottom: 30px;
}

.noFollowingFoundMessage {
    font-size: 14px;
    font-weight: lighter;
    text-align: center;
}