.smallRecipePreview {
    margin-bottom: 15px;
}

.smallRecipePreviewOuterTable {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.smallRecipePreviewImage {
    width: 20vw;
    height: 20vw;
    max-width: 200px;
    max-height: 200px;
    min-width: 125px;
    min-height: 125px;
}

.smallRecipePreviewImageExpanded {
    margin-top: 5px;
}

.smallRecipePreviewImageCell {
    width: 20vw;
    max-width: 205px;
    min-width: 130px;
    padding-right: 5px;
}

.smallRecipePreviewImageCellExpanded {
    vertical-align: top;
}

.smallRecipePreviewTextCell {
    width: 100%;
}

.smallRecipePreviewTextCellExpanded {
    vertical-align: top;
}

.smallRecipePreviewRecipeName {
    font-size: 19px;
    font-weight: bold;
    color: black;
}

.smallRecipePreviewRecipeName:hover,
.smallRecipePreviewRecipeName:active,
.smallRecipePreviewUsername:hover,
.smallRecipePreviewUsername:active {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

.smallRecipePreviewUsername {
    font-weight: bold;
    color: black;
    font-size: 14px;
}

.heartImage {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    display: inline-block;
}

.numLikes {
    display: inline-block;
}

.likedSmall {
    display: inline-block;
}

.smallRecipePreviewLikedCol {
    white-space: nowrap;
}

.smallRecipePreviewTable {
    width: 100%;
}

.smallRecipePreviewTopTable {
    margin-bottom: -8px;
}

.smallRecipePreviewTableRightCol {
    text-align: right;
}

.smallRecipePreviewTopTableCell {
    vertical-align: baseline;
}

.pinnedRecipeSmall {
    background-color: rgba(23, 163, 184, 0.1);
    border-radius: 10px;
    padding: 10px;
    margin-top: -10px;
}

.pinSmall {
    color: rgb(23, 163, 184);
    text-align: right;
    margin-top: -10px;
}

.smallRecipePreviewTag {
    margin-right: 5px;
    font-weight: bold;
    font-size: 14px;
    display: inline-block;
}

.smallRecipePreviewTag:hover,
.smallRecipePreviewTag:active {
    text-decoration: none;
}

.smallRecipePreviewCaption {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 3px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    /* 
    // move this class to outer div
    height: 9vw;
    width: 60vw;
    */
}

/*
// class for inner div
.smallRecipePreviewCaptionInnerDiv {
    -webkit-column-width: 60vw;
    column-width: 60vw;
    height: 100%;
    text-overflow: ellipsis;
}
*/
