.recipeImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-bottom: 10px;
}

.recipeText {
    margin: auto;
    width: 90%;
}

.likeButton {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.likeButtonDiv {
    display: inline-block;
}

.recipeName {
    display: inline;
    font-size: 22px;
    font-weight: bold;
    color: black;
}

.recipeUsername {
    font-weight: bold;
    color: black;
    font-size: 14px;
}

.recipeUsername:hover, .recipeUsername:active {
    color: black;
    opacity: 60%;
    text-decoration: none;
}

.recipeCaption {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 3px;
}

.recipeTag {
    margin-right: 5px;
    font-weight: bold;
    font-size: 14px;
    display: inline-block;
}

.recipeTag:hover, .recipeTag:active {
    text-decoration: none;
}

.recipeDetails {
    margin-bottom: 25px;
}


.recipeSubsection {
    padding: 10px;
    background-color: rgb(23, 162, 184, .3);
    border-radius: 15px;
}

.recipeSubheading {
    font-size: 17px;
    font-weight: bold;
}

.ingredients, .instructions {
    margin-left: -15px;
    margin-bottom: 0px;
}

.liIngredient, .liInstruction {
    font-size: 14px;
    font-weight: bold;
}

.ingredient, .instruction {
    font-size: 14px;
    font-weight: normal;
}


.commentsSection {
    margin-bottom: 30px;
}

.commentFieldAndButton {
    margin-top: 20px;
}

.recipeDetailsTableLikedCol {
    width: 46px;
}

.recipeDetailsTable {
    width: 100%;
}

.recipeDetailsTopTable {
    margin-bottom: -8px;
}

.recipeDetailsTableRightCol {
   text-align: right;
}

.recipeDetailsTopTableCell {
    vertical-align: baseline;
}