.recipeBoxFilters {
    text-align: left;
    align-content: center;
}

.sortDropdown {
    margin-bottom: 15px;
    text-align: right;
}

.hidden {
    display: none;
}

.noRecsFound {
    font-size: 14px;
    font-weight: lighter;
    text-align: center;
}
