.userPreview {
    margin-bottom: 15px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.userPreviewProfileLink {
    text-decoration: none;
    color: black;
    width: 100%;
}

.userPreviewProfileLink:hover,
.userPreviewProfileLink:active {
    text-decoration: none;
    color: black;
    opacity: 60%;
}

.userPreviewFullName {
    font-size: 16px;
    font-weight: bold;
    color: black;
}

.userPreviewUsername {
    font-weight: bold;
    color: black;
    font-size: 14px;
}

.userPreviewNumericalData {
    font-size: 11px;
    font-weight: lighter;
    text-align: right;
}

.smallUserProfilePic {
    width: 20vw;
    height: 20vw;
    max-width: 200px;
    max-height: 200px;
    min-width: 125px;
    min-height: 125px;
}

.userPreviewImg {
    width: 20vw;
    max-width: 205px;
    min-width: 130px;
    padding-right: 5px;
}

.userPreviewTextCell {
    width: 100%;
}

.userPreviewTable,
.userPreviewBottomTable {
    width: 100%;
}

.userPreviewBottomCell {
    vertical-align: baseline;
}

.userPreviewTopTable {
    margin-bottom: -8px;
    width: 100%;
}

.unBlock {
    vertical-align: top;
    text-align: right;
}
.unBlockUserButton {
}
