.subsectionFieldIcon {
    width: 42px;
}
.swapArrow{
    margin-left: 5px;
    margin-right: 1px;
    padding-left: 0;
    padding-right: 1px;
    margin-top: 4px;
    padding-top: 0;
    padding-bottom: 4px;
    color: rgba(71,160,181,1);

}
.swapArrowDisabled {
    margin-left: 5px;
    margin-right: 1px;
    padding-left: 0;
    padding-right: 1px;
    margin-top: 4px;
    padding-top: 0;
    padding-bottom: 4px;
    color: rgba(71,160,181,0.5);
}
