.profileStatsSection{
    text-align: center;
    margin: auto;
}

.profilePicture {
    width: 100px;
    height: 100px;
}

.userFirstAndLastName {
    font-size: larger;
}

.profileStat {
    padding: 10px 20px;
}

.profileStatNumber {
    font-size: large;
}

.profileStatLink {
    color: black;
}

.profileStatLink:hover {
    text-decoration: none;
    color: black;
    opacity: 50%;
}

.userBio {
    font-size: small;
}

.profileTopTable {
    width: 100%;
}

.profilePictureCell {
    width: 113px;
}

.plusButtonCell {
    text-align: right;
    vertical-align: top;
    width: 34px;
}