.editProfilePageBody {
    text-align: left;
}

.centerPhoto {
    text-align: center;
}

.profilePic {
    width: 50%;
    height: 50%;
    max-width: 200px;
    max-height: 200px;
}

.submitButton {
    text-align: center;
    width: 100%;
}

.uploadPhotoButton {
    align-content: right;
    margin-top: 20px;
    text-align: left;
}

.errorCode {
    color: rgba(255, 0, 0, 0.6);
    text-align: center;
}
