.emailSwitch {
    display: table;

}
.emailSwitchMaster{
    padding-left: 12px;
}
.emailSwitchNewLikes {
    display: table;
    padding-left: 12px;
    left: 15em;
}
.custom-control .custom-switch{
    vertical-align: middle;
    display: table-cell;



}

.emailNotifLabel{
    vertical-align: middle; 
    display: table-cell;
}

.indentedButton{
    padding-left:12em;
    position: absolute;
    left: 15em;
}

.blockedTagsHeader{
    pointer-events: 'none';
    width: 20em;
}

.blockedTagsInput{
    max-height:100;
}

.blockedTags .blockedTagsForm{
    width: 20em;
}
.addBlockedTags{
    left:11.5em;
    position: relative;
}

.addBlockedTagsField{
    padding-left:9.5em;
}