.emailSwitchMaster{
    display: inline;
}
.notifsSwitchSubEmails {
    display: inline;
    padding-left: 7vw;
}

.emailSwitch {
    display: inline;
}

.notifTable {
    width: 100%;
}

.custom-control-label {
    display: inline;
}

.emailNotifLabel{
    display: inline;
}

.emailNotifToggle {
    display: inline;
}

.tableRight {
    float: right;
}

.indentedButton{
    text-align: right;
    display: inline;
}

.blockedTags{
    padding-top: 5%;
}

.blockedTagsHeader{
    display: inline-block;
    width: 20em;
}

.blockedTagsSubHeader{
    font-size: 12px;
}
.blockedTagsInput{
    max-height:100;
}

.blockedTagsDisplay{
    border: 1px solid grey;
    padding: 10px;
}

.backToSettings{
    transform: translatey(-75%);
}
.blockedUsersTitle{
    text-align: center;
    transform: translatey(-75%);
}
.blockedUsersPTag{
    font-weight: 900;
    font-size: 30px;
    font-family: sans-serif;
}