.emailSwitchMaster{
    display: inline;
}
.notifsSwitchSubEmails {
    display: inline;
    padding-left: 7vw;
}

.emailSwitch {
    display: inline;
}

.notifTable {
    width: 100%;
}

.custom-control-label {
    display: inline;
}

.emailNotifLabel{
    display: inline;
}

.emailNotifToggle {
    display: inline;
}

.tableRight {
    float: right;
}

.indentedButton{
    text-align: right;
    display: inline;
}

.blockedTagsHeader{
    display: inline-block;
    width: 20em;
}

.blockedTagsSubHeader{
    font-size: 12px;
}
.blockedTagsInput{
    max-height:100;
}

.blockedTagsDisplay{
    border: 1px solid grey;
    padding: 10px;
}


.custom-control-input:checked ~ 
.custom-control-label::before {
    border-color: rgb(23, 162, 184) !important;
    background-color: rgb(23, 162, 184) !important;
}

.custom-control-input:checked:disabled ~
.custom-control-label::before {
    opacity: 60%;
}

.custom-control-input:not(:checked):disabled ~
.custom-control-label::before {
    background-color: white;
    opacity: 60%;
}