.recipesSection {
    margin-top: 30px;
}

.tagButtonsSection {
    margin-top: 10px;
}

.tagButton {
    margin-right: 5px;
    margin-bottom: 5px;
}

.recipeNameSearchbar {
    margin-bottom: 5px;
}