.recipesSection {
    margin-top: 30px;
}

.tagButtonsSection {
    margin-top: 10px;
}

.recipeNameSearchbar {
    margin-bottom: 5px;
}

.noRecipesFoundMessage {
    font-size: 14px;
    font-weight: lighter;
    text-align: center;
}

.recommendedRecipesTitle {
    font-size: 18px;
    display: block;
    margin-bottom: 20px;
}

.hidden {
    display: none;
}
