/* Styling for BrowseUsersPage */

.noUsersFoundMessage {
    font-size: 14px;
    font-weight: lighter;
    text-align: center;
}

.recommendedUsersTitle {
    font-size: 18px;
    display: block;
    margin-bottom: 20px;
}

.browseUsersSearchBar {
    margin-bottom: 30px;
}

.browseUserSearch {
    margin-bottom: 30px;
}

.hidden {
    display: none;
}
