/* Styling for the create account page*/
.redirectCreateAccount {
  text-align: center;
  font-size: 15px;
  margin-top: 20px;
}
  
.signInLink {
  display: flex;
  justify-content: center;
  color: rgb(23, 162, 184);
  font-weight: bold;
}

.signInLink:hover, .signInLink:active {
  color: rgb(23, 162, 184);
  font-weight: bold;
  text-decoration: none;
  opacity: 60%;
}

.hidden {
  display: none;
}