/* Styling for the create account page*/
.redirectCreateAccount {
  text-align: center;
  font-size: 15px;
  margin-top: 20px;
}
  
.signInDiv {
  text-align: center;
}

.signInLink {
  font-weight: bold;
}

.signInLink:hover, .signInLink:active {
  font-weight: bold;
  text-decoration: none;
}

.hidden {
  display: none;
}