.errorComponentContainer {
    margin-top: 5%;
    display: block;
    text-align: center;
    align-content: center;
}

.errorComponentString {
    color: gray;
    margin:30px;
}

.errorComponentIcon {
    font-size: 100px;
    color:rgb(23, 162, 184)
}