/* Styling for followers page */

.userName {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.title {
    font-size: 15px;
    text-align: center;
    margin-top: -4px;
    margin-bottom: 20px;
}

.backLink {
    font-size: 26px;
    margin-top: -10px;
    position: absolute;
}

.userSearchBar {
    margin-bottom: 30px;
}

.noFollowersFoundMessage {
    font-size: 14px;
    font-weight: lighter;
    text-align: center;
}