<<<<<<< HEAD
#followBtn {
    font-weight: bold;
    font-size: small;
    text-align: center;
    display: block;
    width: 100%;
    padding: 5px 0px;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
  }
  #followBtn:hover {
    color: black;
    background-color: rgb(235, 235, 235);
    opacity: 50%;
  }
  .followBtnFollowing {
    color: black;
    background-color: rgb(235, 235, 235);
  }
  .followBtnNotFollowing {
    background-color: white;
=======
.follow-btn {
    font-size: 4vw;
    padding: 1vw 8vw;
    border: none;
    transition: 0.3s;
  }
  .follow-btn:hover {
    opacity: 0.5;
  }
  .follow-btn-following {
    background-color: #d3d3d3;
  }
  .follow-btn-not-following {
    background-color: #4caf50;
>>>>>>> 3128d7e (add css for Follow/Unfollow button)
  }