/* CSS for signed in hamburger menu -- Bootstrap navbar components */
.rbx-navdropdown {
    font-size: 30px;
}

.recipeboxNavDropdown {
    display: inline;
}

.rbxSpaceAdjustment {
    padding: 5px 10px 5px 10px;
}

.rbxLogoExpanded {
    padding-right: 0px;
}

.rbxLogoCollapsed {
    padding-right: 50%;
}