/* CSS for signed in hamburger menu -- Bootstrap navbar components */
.rbx-navdropdown {
  font-size: 30px;
}

.recipeboxNavDropdown {
  display: inline;
}

.rbxSpaceAdjustment {
  padding: 5px 10px 5px 10px;
  font-weight: 600;
  color: rgb(238, 238, 238);
}

.rbxSpaceAdjustment:hover {
  color: rgb(19, 132, 150);
}

.rbxSpaceAdjustment:active {
  color: rgb(19, 132, 150);
  background-color: rgb(238, 238, 238);;
}


.rbxLogo {
  font-weight: 800;
  font-size: 22px;
  color: rgb(238, 238, 238);
}

.navCollapseElement {
  color: rgb(238, 238, 238);
}
