.largeRecipePreview {
    padding-bottom: 40px;
}

.largeRecipePreviewImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 80%;
    padding-bottom: 10px;
}

.recipeInfo {
    margin: auto;
    width: 80%;
}

.heartImage {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-right: 5px;
}

.largeRecipePreviewUsername {
    padding-right: 15px;
}

.largeRecipePreviewTag {
    padding-right: 5px;
}