.profileStatsSection{
    text-align: center;
    margin: auto;
}

.profilePicture {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.userFirstAndLastName {
    font-size: larger;
}

.profileStat {
    padding: 10px 20px;
}

.profileStatNumber {
    font-size: large;
}

.profileStatLink {
    color: black;
}

.profileStatLink:hover {
    text-decoration: none;
    color: black;
    opacity: 50%;
}

.userBio {
    font-size: small;
}