/* Styling for the sign in form*/

.redirectSignIn {
  text-align: center;
  font-size: 15px;
  margin-top: 20px;
}
  
.createAccountLink {
  display: flex;
  justify-content: center;
  color: rgb(23, 162, 184);
  font-weight: bold;
}

.createAccountLink:hover, .createAccountLink:active {
  color: rgb(23, 162, 184);
  font-weight: bold;
  text-decoration: none;
  opacity: 60%;
}

.hidden {
  display: none;
}