/* Styling for the sign in form*/

.redirectSignIn {
  text-align: center;
  font-size: 15px;
  margin-top: 20px;
}
  
.createAccountDiv {
  text-align: center;
}

.createAccountLink {
  font-weight: bold;
}

.createAccountLink:hover, .createAccountLink:active {
  font-weight: bold;
  text-decoration: none;
}

.hidden {
  display: none;
}