.userPreview{
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.userPreviewProfileLink {
    text-decoration: none;
    color: #000000;
    float: left;
    width: 100%;
}

.userPreviewProfileLink:hover, .userPreviewProfileLink:active {
    text-decoration: none;
    color: #000000;
    opacity: 60%;
}

.userPreviewContainer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    font-size: 4vw;
    align-items: stretch;
}

.userPreviewFullName {
    font-size: 16px;
    font-weight: bold;
    color: black;
}

.userPreviewUsername {
    font-weight: bold;
    color: black;
    font-size: 14px;
}

.userPreviewPersonalData {
    text-align: left;
}

.userPreviewNumericalData {
    margin-left: 5px;
    flex-grow: 2;
    position: relative;
    text-align: right;
    font-size: 11px;
    font-weight: lighter;
} 

.smallUserProfilePic{
    width: 20vw;
    height: 20vw;
    margin-right: 5px;
}

.unBlock{
    float: left;
    width: 5%;
}
.unBlockUserButton{
    height: 100%;
    width: 10vw;
}
