.userPreview{
    margin-bottom: 15px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.userPreviewProfileLink {
    text-decoration: none;
    color: black;
    width: 100%;
}

.userPreviewProfileLink:hover, .userPreviewProfileLink:active {
    text-decoration: none;
    color: black;
    opacity: 60%;
}

.userPreviewFullName {
    font-size: 16px;
    font-weight: bold;
    color: black;
}

.userPreviewUsername {
    font-weight: bold;
    color: black;
    font-size: 14px;
}

.userPreviewNumericalData {
    font-size: 11px;
    font-weight: lighter;
    text-align: right;
} 

.smallUserProfilePic{
    width: 20vw;
    height: 20vw;
}

.userPreviewImg {
    width: 20vw;
    padding-right: 5px;
}

.userPreviewTable, .userPreviewBottomTable {
    width: 100%;
}

.userPreviewBottomCell {
    vertical-align: baseline;
}


.userPreviewTopTable {
    margin-bottom: -8px;
    width: 100%;
}

.unBlock{
    vertical-align: top;
    text-align: right;
}
.unBlockUserButton{
}