.userListModal {
    margin: 10px 0px;
    max-height: 100%;
}

.modal-header {
    border-bottom: 0 none;
}

.closeModalButton {
    font-size: 26px;
    margin-top: -15px;
    position: absolute;
    background: none;
    border: none;
    padding: 0px;
    float: right;
}
